.city-chart-container {
  @extend .col-lg-6, .d-flex, .align-items-center, .justify-content-center;
  min-height: 200px;
}

th,
td {
  text-align: center;

  @media screen and (max-width: 520px) {
    font-size: 12px;
  }
}

td {
  vertical-align: middle;
}

.page-link {
  cursor: pointer;
}

.hidden {
  @media screen and (max-width: 992px) {
    display: none;
  }
}

.list-btn {
  @media screen and (max-width: 520px) {
    padding: 0.125rem 0.25rem;
    font-size: 12px;
  }
}
